.menuContainer {
  position: fixed;
  top: 20px;
  left: 35px; 
  margin: 12px;
  z-index: 10000;
  
}

.menuButton {
  background-color: rgba(199, 229, 254, 0.903);
  color: #181616db;
  border: none;
  padding: 10px 20px;
  font-size: 29px;
  font-weight: bolder;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 10 9px rgba(15, 8, 8, 0.706);
}

.menuButton:hover {
  background-color: rgba(48, 47, 47, 0.8);
  color: #eae7e7;
    transform: scale(1.05);
  
}